# Python cache
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/

# Machine Learning Model Files
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment Variables
.env

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test Cache
.pytest_cache/

# Coverage Reports
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/